html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../Background/hogwarts_legacy.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
  padding-top: 70px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(209, 28, 28);
}

#buy {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 180px;
  width: 300px;
  transition: 0.5s;
}
.logo:hover {
  border-radius: 70px;
}

header {
  width: 100%;
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: space-around;
}

.menu {
  color: white;
  border-radius: 0px;
  border-radius: 30px;
  transition: color 0.3s;
}
.menu:hover {
  color: rgb(209, 28, 28);
}

footer {
  background-color: rgb(97, 24, 24);
  height: 300px;
  border: 10px solid rgb(150, 172, 25);
  border-radius: 30px;
  padding: 30px;
  display: flex;
}
#font-gradient {
  position: fixed;
  bottom: 0;
  width: 200vh;
  height: 80px;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}
p {
  color: white;
  font-size: 30px;
}

#logo_hp {
  width: 600px;
  height: 300px;
}

.section1 {
  width: 70vw;
}

.no-deco a {
  text-decoration: none;
  color: white;
}

.no-deco a:hover {
  color: yellow;
  text-decoration: underline;
}

footer ul {
  list-style-type: none;
}

.ligne {
  display: flex;
  justify-content: space-around;
}

#warnerbros {
  display: flex;
}

@media screen and (max-width: 1250px) {
  .logo {
    width: 30vw;
    height: 70%;
  }

  p {
    font-size: 20px;
  }

  body {
    background-image: url("../Background/hogwarts_legacy_petit.png");
  }

  #buy {
    height: 200px;
  }

  #logo_hp {
    width: 200px;
    height: 100px;
  }

  .chara {
    width: 150px;
    height: 100%;
  }
}
